body {
    margin: 0;
    background: #17202A;
}

#navigation {
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 15px;
    .text {
        color: #FFFFFF;
        padding-left: 8px;
        font-size: 20px;
    }
    div {
        padding: 8px 0 8px 0;
        display: flex;
        align-content: center;
    }
    a {
        padding: 8px 0 8px 0;
        display: flex;
        align-content: center;
        text-decoration: none;
        width: 230px;
    }
    .icon {
        display: flex;
        align-content: space-between;
    }
}