body {
    margin: 0;
    background: #17202A;
}

#navigation {
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 15px;
    width: 230px;
    .text {
        color: #FFFFFF;
        padding-left: 8px;
        font-size: 20px;
    }
    .twitter-icon {
        padding: 8px 0 8px 0;
        display: flex;
        align-content: center;
    }
    a {
        padding: 8px 0 8px 0;
        display: flex;
        align-items: center;
        text-decoration: none;
        &:hover {
            background: rgba(0, 0, 0, 0.5);
            transition: background 0.5s;
        }
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-left: 2px;
        .notification {
            position: absolute;
            left: 9px;
            bottom: 10px;
            display: inline-block;
            width: 15px;
            height: 15px;
            vertical-align: middle;
            background: #4BA0EC;
            border-radius: 30px;
            text-align: center;
            font-size: 12px;
        }
    }
    .more-icon {
        padding-left: 0px;
    }
    .tweet {
        width: 211px;
        height: 50px;
        padding: 0;
        display: flex;
        background: #4BA0EC;
        border-radius: 85px;
        border: 0;
        font-size: 18px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        justify-content: center;
        &:hover {
            background: rgba(83, 190, 233, 0.5);
            transition: background 0.5s;
        }
    }
}